In [1]:
int()

0

In [2]:
print("Hello World")

Hello World

In [4]:
age=32
print("My age is:",age)

My age is: 32

In [5]:
print(f"My age is {age}")

My age is 32

In [8]:
name="Abhinav"
classdate="2nd Data Science Masters Class"
print("My name is",name)
print(f"Today is my {classdate}")

My name is Abhinav
Today is my 2nd Data Science Masters Class

In [ ]:
##formats()
name="Abhinav Kaundal"
age="35"
print("My Name is {} and age is {}".format(name,age))

In [10]:
##formats()
name="Abhinav Kaundal"
age="35"
print("My Name is {} and age is {}. I have started my{}".format(name,age,classdate))

My Name is Abhinav Kaundal and age is 35. I have started my2nd Data Science Masters Class

In [11]:
print("My Name is {Firstname} and age is {myage}".format(Firstname=name,myage=age))

My Name is Abhinav Kaundal and age is 35

In [13]:
name="Abhinav Kaundal"
age="32"
degree="BE"
coursename="Data Science Masters"
print("My age is {} and i have completed my degree of {} with the name of {}. I'm here to learn {}." .format(age,degree,name,coursename))

My age is 32 and i have completed my degree of BE with the name of Abhinav Kaundal. I'm here to learn Data Science Masters.

In [16]:
print(f"My age is {age} and i have completed my degree of {degree} with the name of {name}. I'm here to learn {coursename}.")

My age is 32 and i have completed my degree of BE with the name of Abhinav Kaundal. I'm here to learn Data Science Masters.

In [24]:
## Control flow
### Desision Makig Statements

## if Statement |conditions ==,>=,<=|

In [23]:
age=35
if age>=18:
    print("You are eligible for vote")

You are eligible for vote

In [19]:
##Task1
## Take a input of age
## check wheather age >=18 and age<=45
## display a message you are yound blood

age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter the age 35

You are young blood

In [21]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter the age 17

## if else Statement using the Task 1 conditions |conditions ==,>=,<=|

In [26]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are eligible for this program")
else:
    print("You are not eligible for this program")

Enter the age 17

You are not eligible for this program

In [27]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are eligible for this program")
else:
    print("You are not eligible for this program")

Enter the age 18

You are eligible for this program

## Task2
### Mall - Sale offer
* product > 1000 rs 20% off
* Product >1000rs 10% off
* print the product price after removing the discount

### Solution Statement
* 1. input the product price
* 2. use if statement for product >1000 rs 20% off
* 3. use else statement for product <=1000 rs 10% off

### Task 2.1
* print the product price after removing the discount
* define the product price with the calculation of product discount

In [ ]:
## print the product price after removing the discount

## Soution 1:

product_price=int(input("Enter the Product Price"))
if product_price>1000:
    print("The final price of the product is {}.".format(product_price*0.8))
else:
    print("The final price of product is {}.".format(product_price*0.7))